*{
    box-sizing: border-box;
}
/* for the body */
body{
    /* overflow-x: hidden; */
    right: 0;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    /* overflow: visible; */
    /* font-family: "Muli", sans-serif; */
}
a{
    text-decoration: none;
    text-transform: capitalize;
}