.footer-backgroud{
    background: url("./colorib img/footer_bg.png")  center/cover no-repeat;
}
.footer-container{
    padding-top: 20px;
    padding-bottom: 120px;
}
.headline{
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    /* text-align: center; */
    /* align-content: center; */
    align-items: center;
    /* width: 100%; */
}
.footer-img{
    width: 100%;
    padding: 0px 15px;
}
.contact-info{
    margin-top: 100px;
    /* align-self: center; */
    width: 100%;
    padding: 0px 15px;
}
.contact-info h4{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 29px;
    font-weight: 400;
    /* text-align: center; */
    text-transform: capitalize;
}
.contact-info ul{
    padding: 0;
    margin: 0;
}
.contact-info li{
    list-style: none;
    color: #868c98;
    margin-bottom: 16px;
}
.contact-info p{
  width: 220px;
  color: #868c98;
}
.contact-info a{
    color: #868c98;
    text-decoration: none;
}
.contact-info a:hover{
        /* display: block; */
       /* font-size: 1.5rem; */
       text-transform: capitalize;
       padding: 0px 7px;
       /* padding-right: 3px; */
       color: #09cc7f;
       transition: 0.3s;
   
}
.import-link{
    margin-top: 150px;
    width: 100%;
    padding: 0px 15px;
}
.import-link h4{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 29px;
    font-weight: 400;
    /* text-align: start; */
    text-transform: capitalize;
}
.import-link ul{
    padding: 0;
    margin: 0;
}
.import-link li{
    margin-bottom: 16px;
    /* text-align: justify; */
}
.import-link a{
    color: #868c98;
    
    text-decoration: none;
}
.import-link a:hover{
     /* display: block; */
    /* font-size: 1.5rem; */
    text-transform: capitalize;
    padding: 0px 7px;
    /* padding-right: 10px; */
    color: #09cc7f;
    transition: 0.3s;
}
.newsletter{
    width: 100%;
    /* padding: 0px 15px; */
    margin-top: 120px;
}
.newsletter h4{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 29px;
    font-weight: 400;
    /* text-align: center; */
    text-transform: capitalize;
}
.newsletter p{
    color: #868c98;
    padding-right: 52px;
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 1.8;
    width: 300px;
}
.mail{
    width: 100%;
    height: 43px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    display: inline;
}

 form{
    display: flex;
 }
.newsletter button{
    z-index: 100;
    /* position: relative; */
    position: absolute;
    /* top: 0; */
    right: 0;
    background: none;
    border: 0;
    margin-right: 30px;
    /* margin: 0; */
    cursor: pointer;
    padding: 15px 22px;
    background: #09cc7f;
    line-height: 1;
    border-radius: 0 3px 3px 0;
}
button i{
    color: #fff;
}
.bottom-section{
    text-align: center;
    border-top: 1px solid #2d3544;
    
    margin-left: 40px;
    margin-right: 40px;
}
.footer-bottom-container{
   padding: 33px 0px 20px;
}
.footer-bottom-caption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.copy-right p{
    color: #888888;
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 12px;
}
.copy-right i{
    color: #09cc7f;
}
.copy-right a{
    color: #09cc7f;
}
.copy-right a:hover{
    color: #fff;
}
.align{
    align-items: center;
    margin: 0;
    padding: 0;
}

footer a {
    pointer-events: none; /* Disable clicking */
    color: gray; /* Optional: Change the color to indicate it's disabled */
    text-decoration: none; /* Optional: Remove underline */
}

/* hr {
    width: 95%;
    margin: auto;
    border-top: 1px ;
    

  }

  .para{
    display: flex;
    align-items: center;
    padding-top: 50px;

    

  }

.design p{
    color: #868c98;
    font-size: 25px;
    margin-left: 50px;
  
}

.design h2{
    color: #09cc7f;
    font-family: Arial, Helvetica, sans-serif;
}

.design h2:hover{
    color: #ffffff;
} */
