/* header sreen */
@media screen and (min-width: 751px) and (max-width: 1000px){
.header-top {
    display: none;
}
}
@media screen and (min-width: 751px) and (max-width: 1000px){
.navigation{
    display: none;
}
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .btn{
        display: none;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .mobile-menu{
        transform: translate(0);
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .header-buttom{
        padding: 5px 50px;
    }
    
}

/* body screen for mobile display*/
/* stage1 */
@media screen and (min-width: 751px) and (max-width: 1000px){
    .stage1{

        height: 650px;
        margin-top: 0;
    }
    
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .stage1-caption{
        position: relative;
        top: 200px;
        left: 95px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .stage1-caption h1{
        font-size: 50px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
.stage1-caption p{
  max-width: 440px;
}
}
/* stage2  @media only screen and (min-width: 768px) and (max-width: 991px) {*/
@media screen and (min-width: 751px) and (max-width: 1000px){
    .stage2-caption{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .diff-div{
        padding-left: 95px;
        /* padding-right: 80px; */
        /* display: inline; */
        display: grid;
        row-gap: 30px;
        column-gap: 0;
        grid-template-columns: 1fr 1fr;
        
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .clean-water,
    .clean-water2,
    .clean-water3{
     width: 80%;
     margin: 0;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .stage3{
        padding-top: 100px;
        padding-bottom: 150px;
        padding-left: 95px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .stage3-container{
        display: block;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .stage3-container p{
        width: 450px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .stage3-img{
        margin-top: 30px;
        margin-left: 20px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .img2{
        display: none;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .stage4{
        padding-left: 95px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .cases-img{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        /* background-color: #fff; */
        /* width: 30.3%; */
        /* column-gap: 90px; */
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .child-img{
        width: 88.3%;
        /* background-color: #fff; */
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .stage5{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .stage5-img{
        padding-left: 95px;
        margin: 0;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .event-caption{
        width: 650px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .stage6-caption{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .team-img{
        padding-left: 95px;
        padding-right: 95px;
        display: grid;
        column-gap: 30px;
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
    
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .stage6-img{
        width: 100%;
        
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .stage6-img img{
        width: 350px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .inter-section{
        padding-bottom: 100px;
        padding-left: 95px;
        padding-right: 100px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .inter-btn button{
       padding: 20px 35px;
        
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .stage7{
        padding-top: 100px;
        padding-bottom: 80px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .slider-caption,
    .slider-caption p{
        font-size: 16px;
        width: 530px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .stage8-container{
        padding-top: 100px;
        padding-bottom: 100px;
        padding-right: 95px;
        padding-left: 95px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 .home-img,
 .home-img img{
    width: 350px;
   
 }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .home-caption{
        padding-top: 0;
        padding-left: 30px;
    
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .home-caption h3{
        width: 270px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .home-caption a{
        font-size: 18px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .home-date{
        padding: 5px 10px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .home-date span{
        font-size: 20px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .final-caption{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 95px;
        display: grid;
        row-gap: 50px;
        grid-template-columns: 1fr 1fr;
    }
}

/* footer */
@media screen and (min-width: 751px) and (max-width: 1000px){
    .footer-container{
        padding-top: 0;
        padding-bottom: 100px;
        padding-left: 95px;
        padding-right: 95px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .headline{
        /* row-gap: 50px; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .newsletter{
        margin: 0;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .newsletter button{
        position: absolute;
        right: 500px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .bottom-section{
        padding-bottom: 50px;
        margin-left: 120px;
        margin-right: 120px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .footer-bottom-container{
        padding: 0;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .footer-bottom-caption{
        display: block;
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px){
    .align{
        margin-left: 40%;
    } 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
@media screen and (min-width: 751px) and (max-width: 1000px){
 
}
